{% extends '/admin/base.twig' %}
{% block content %}
<section id="main-content" style="min-height: 100vh">
    <section class="wrapper">
        <div class="row">
            <div class="col-lg-12">
                <!--breadcrumbs start -->
                <ul class="breadcrumb">
                    <li><a href=""><i class="icon-home"></i> Home</a></li>
                    <li class="active">Categories</li>
                </ul>
                <!--breadcrumbs end -->
            </div>
            <div class="col-sm-12">
                <section class="panel">
                    <header class="panel-heading">
                        All Categories
                    </header>
                    <div class="panel-body">
                        <div class="btn-group">
                            <button data-toggle="modal" href="#AddModal" class="btn green">
                                Add New <i class="icon-plus"></i>
                            </button>
                        </div>
                        <!-- Add Model -->
                        <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1"
                             id="AddModal" class="modal fade">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button aria-hidden="true" data-dismiss="modal" class="close"
                                                type="button">×
                                        </button>
                                        <h4 class="modal-title">Add New Category</h4>
                                    </div>
                                    <div class="modal-body">
                                        <form autocomplete="off" role="form" action="/addNewCategory" method="post">
                                            <div class="form-group">
                                                <label>ID</label>
                                                <input name="id" required="" type="text" class="form-control">
                                            </div>
                                            <div class="form-group">
                                                <label>Name</label>
                                                <input name="name" required="" type="text" class="form-control">
                                            </div>
                                            <button type="submit" class="btn btn-info">Submit</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table id="DataTable" class="table table-bordered display">
                                <thead>
                                <tr>
                                    <th>ID</th>
                                    <th> Name</th>
                                    <th>Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for category in categories %}
                                    <tr>
                                        <td>{{ category.id }}</td>
                                        <td>{{ category.name }}</td>
                                        <td>
                                            <a title="Edit" class="btn btn-primary btn-xs tooltips" data-toggle="modal"
                                               href="#EditModal-{{ category.id }}"><i class="icon-pencil"></i> </a> |
                                            <a title="Delete" class="btn btn-danger btn-xs tooltips" data-toggle="modal"
                                               href="#DeleteModal-{{ category.id }}"><i class="icon-trash"></i> </a>
                                            <!-- Edit Model -->
                                            <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog"
                                                 tabindex="-1" id="EditModal-{{ category.id }}" class="modal fade">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <button aria-hidden="true" data-dismiss="modal"
                                                                    class="close" type="button">×
                                                            </button>
                                                            <h4 class="modal-title">Update </h4>
                                                        </div>
                                                        <div class="modal-body">
                                                            <form role="form" action="/editCategory" method="post">
                                                                <input type="hidden" value="{{ category.id }}" name="old_id">
                                                                <div class="form-group">
                                                                    <label>ID</label>
                                                                    <input name="id" required="" type="text"
                                                                           class="form-control">
                                                                </div>
                                                                <div class="form-group">
                                                                    <label>Name</label>
                                                                    <input name="name" required="" type="text"
                                                                           class="form-control">
                                                                </div>
                                                                <button type="submit" class="btn btn-info">Submit
                                                                </button>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- Delete  Modal -->
                                            <div class="modal fade" id="DeleteModal-{{ category.id }}" tabindex="-1"
                                                 role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <button type="button" class="close"
                                                                    data-dismiss="modal" aria-hidden="true">&times;
                                                            </button>
                                                            <h4 class="modal-title">Delete This Category </h4>
                                                        </div>
                                                        <div class="modal-body">
                                                            <div class="modal-body">
                                                                <form role="form" action="/deleteCategory" method="post">
                                                                    <div class="form-group">
                                                                        <label hidden="hidden" for="{{ category.id }}">ID</label>
                                                                        <input name="id" type="hidden" value="{{ category.id }}" class="form-control">
                                                                    </div>
                                                                    <button type="submit" class="btn btn-danger">Are you sure you want to delete category with id({{ category.id }})?
                                                                    </button>
                                                                </form>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- modal -->
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </section>
</section>
{% endblock %}