<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="shortcut icon" href="">
    <title>Admin </title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/bootstrap-reset.css" rel="stylesheet">
    <!--external css-->
    <link href="assets/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <!-- Custom styles for this template -->
    <link href="css/style.css" rel="stylesheet">
    <link href="css/style-responsive.css" rel="stylesheet" />

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 tooltipss and media queries -->
    <!--[if lt IE 9]>
    <script src="{{asset('public/admin')}}js/html5shiv.js"></script>
    <script src="{{asset('public/admin')}}js/respond.min.js"></script>
    <![endif]-->
    <style>
        .field-icon {
            float: right;
            margin-top: -40px;
            position: relative;
            z-index: 2;
            font-size: 18px;
            margin-right: 10px;
        }


    </style>
</head>

  <body class="login-body">

    <div class="container">


      <form class="form-signin" method="post" action="">

        <h2 class="form-signin-heading">Login</h2>

        <div class="panel-body">

          <div class="alert alert-block alert-danger fade in">
            <button data-dismiss="alert" class="close close-sm" type="button">
                <i class="icon-remove"></i>
            </button>
            <strong>Oops!</strong> Can't login try again.
          </div>

        </div>

        <div class="login-wrap">
         
            <input type="text" class="form-control" name="email" required="" placeholder="Email" autofocus>
            <input type="password"  id="password-field" class="form-control" name="password" required="" placeholder="Password">
            <span toggle="#password-field" class=" icon-eye-open field-icon toggle-password"></span>
            <button class="btn btn-lg btn-login btn-block" type="submit">Sign in</button>
        </div>
      </form>

    </div>



    <!-- js placed at the end of the document so the pages load faster -->
    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script>
        $(".toggle-password").click(function () {

            $(this).toggleClass("icon-eye-close");
            var input = $($(this).attr("toggle"));
            if (input.attr("type") == "password") {
                input.attr("type", "text");
            } else {
                input.attr("type", "password");
            }
        });
    </script>

  </body>
</html>
