<div class="section-content">
    <div class="row">
        {% for category in categories %}
            <div class="col-sm-6 col-md-4">
                <div class="feature-item maxwidth400 mb-30">
                    <div class="thumb">
                        <img src="{{ img_file_exists(category.id) }}" alt="" class="img-fullwidth">
                        <div class="title">
                            <a href="category/{{ category.name }}?id={{ category.id }}"><h3> {{ category.name }}<i class="fa fa-caret-right pull-right mt-5"></i></h3></a>
                            <a href="category/{{ category.name }}?id={{ category.id }}" class="text-theme-colored2"> More<span class="fa fa-angle-right"></span></a>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>