<footer id="footer" class="footer" data-bg-color="#152029" style="direction: ltr">
    <div class="container pt-70 pb-40">
        <div class="col-md-3">
            <div class="widget dark">
                <img alt="" src="/images/logo-footer.png">
            </div>
        </div>
        <div class="col-md-9">
            <div class="row">

                <!--<div class="col-md-4 widget dark">
                    <h4 class="widget-title">Useful Links</h4>
                    <div class="row clearfix">
                        <div class="col-xs-12 col-sm-6 col-md-6">
                            <ul>
                                <li><a href="#">Home</a></li>
                            </ul>
                        </div>
                    </div>
                </div>-->
                <div class="col-md-6 widget dark">
                    <h4 class="widget-title">Contact us</h4>
                    <div class="row clearfix">
                        <ul class="list-inline">
                            <li class="m-0 pl-10 pr-10">
                                <i class="fa fa-phone text-gray mr-5"></i> <a class="text-gray" href="#">123-456-789</a>
                            </li>
                            <li class="m-0 pl-10 pr-10">
                                <i class="fa fa-envelope-o text-gray mr-5"></i> <a class="text-gray" href="#">team@ashal.com</a>
                            </li>
                        </ul>
                        <ul class="styled-icons icon-sm icon-dark icon-theme-colored2 icon-circled clearfix mt-10">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-vk"></i></a></li>
                            <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        </ul>
                    </div>
                </div>

            </div>

        </div>
    </div>
    <div class="footer-bottom" data-bg-color="#253039">
        <div class="container pt-20 pb-20">
            <div class="row">
                <div class="col-md-6">
                    <p class="font-12 text-black-777 m-0">Copyright &copy;2021 . All Rights Reserved</p>
                </div>
            </div>
        </div>
    </div>
</footer>