<h2 class="text-theme-colored text-theme-colored">{{ name }}</h2>
{% set num=1 %}
{% for paper in papers %}
    <p style="font-size: 130%;">{{ num }}. {{ paper }}</p>
    {% set num = num+1 %}
{% endfor %}